<div id='root' class="container mt-3">
    <div id='welcome' class="jumbotron bg-dark text-white">
        <h1>Bienvenid@ {{user}}</h1>
        <p class="text-warning">{{email}}</p>
        <button class="btn btn-secondary mt-3 mb-3" onclick="window.location.href='/logout'">logout</button>
    </div>
    <div id='prods_table' class="jumbotron"></div>    
    <div id='messages_formlist' class="jumbotron"></div>
</div>
